:host,
.circle {
    display: block;
    background: black;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
    position:relative;
}