:host div {
  position:relative;
  width:50px;
}

.yellow {
  background: radial-gradient(circle at 15px 15px, yellow, #000);
}

.blue {
  background: radial-gradient(circle at 15px 15px, blue, #000);
}