<md-toolbar color="primary">
    <span>Adams Demos</span>
    <span class="example-fill-remaining-space"></span>
    <button md-button *ngIf="!(isAuthed | async)" (click)="login()">Login</button>
    <button md-button *ngIf="(isAuthed | async)" (click)="logout()">Logout</button>
</md-toolbar>
<md-tab-group [selectedIndex]='selectedIndex' (selectChange)='selectTab($event)' (focusChange)="changeTab($event)">
    <md-tab>
        <template md-tab-label>
            Home
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            Animations
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            Drag and Drop
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            Firebase
        </template>
    </md-tab>
</md-tab-group>

