<form [formGroup]="group" (ngSubmit)="submit()">
    <md-input-container class="example-full-width" *ngFor="let key of keys" >
      <input mdInput placeholder="PH: {{key}}" [formControlName]="key" />
    </md-input-container>


    <div style="margin: auto">
        <button type="submit"
                md-raised-button
                [disabled]="!group.valid"
        >OK</button>

        <button type="button"
                md-button
                (click)="close()"
        >Cancel</button>
    </div>
</form>
